@use "../abstracts/mixins" as *;
@use "../abstracts/content-mixins" as *;
@use "../abstracts/variables" as *;

.main.reserve-form {
  > .reserve {
    @include common-form;
    background-color: $col-litgreen;
    > .wrap {
      > .form {
        > .btnc {
          > .btn {
            &.btn-modify {
              background: $col-gray;
              border: 3px solid $col-gray;
            }
          }
        }
      }
      > .txt {
        text-align: center;
        font-weight: $fw-med;
        margin-top: 30px;
      }
    }
  }
  //RESERVE
}
//MAIN RESERVE_FORM