//フォントの太さ
$fw-thn: 100;
$fw-exl: 200;
$fw-lit: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-smb: 600;
$fw-bol: 700;
$fw-exb: 800;
$fw-bck: 900;

//色
$col-litgreen: #C5EFD0;
$col-pink: #FFDEDE;
$col-gray: #919191;
$col-litgray: #EFEFEF;
$col-red: #FF0000;
$col-darkred: #DB0F00;
$col-yellow: #FFF500;
$col-lityellow: #FFF4CF;
$col-orange: #FF7F00;
$col-black: #000000;
$col-navy: #004EA1;
$col-wh: white;
$col-blue: #024EA2;

//フォント
$noto-serif: "Noto Serif JP", serif;

